__pycache__
.env
*.pyc
venv
__pytest_cache__
.pytest_cache
.DS_Store
*.egg-info
*.egg
*.log
*.pot
*.py[co]
*.swp
*.swo
*.sqlite3
*.db
*.db-journal
*.db-shm
*.db-wal
*.db.bak
*.db-wal
*.db-shm
*.db-journal
*.db.bak
*.db-wal
*.db-shm
*.db-journal
*.db.bak